/Code/AnyBURL/data/
/.idea/
.DS_Store
Code/sql-implementations/out/production/research-sql/Triple.class
Code/sql-implementations/out/production/research-sql/test.class
Code/sql-implementations/out/production/research-sql/Main.class
Code/sql-implementations/out/production/research-sql/DBFuncs.class
Code/sql-implementations/out/production/research-sql/dbFill.class
Code/sql-implementations/out/production/research-sql/DBConnection.class
