/Code/AnyBURL/data/
/Code/AnyBURL/src_new/
/.idea/
.DS_Store
/Code/sql-implementations/out/production/research-sql
/Code/Playground/initial-sql-test/out/production/research-sql
/Code/sql-implementations/sql-implementations.iml
/Code/AnyBURL/AnyBurl.iml
/Code/sql-implementations/resources/config.properties

